<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1 ">
    {{>links}}
    <title>404 Error</title>

</head>
<body>

    {{>nav}}
    <section class="error-page">


        <h1>OOPs!</h1>
        <h3>There's nothing here!</h3>
        <p>Sorry, the page you were looking for in this <br> website does not exist.</p>


    </section>


{{>footer}}

{{>script}}

</body>
</html>