<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum,scale=1">
    {{>links}}
    <title>Gallery</title>

</head>
<body>

    <div data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">


   
        {{>nav}}

        <div class="common-header">
            <div class="common-heading">
                <h1>Gallery</h1>
            </div>
        </div>
   
    <!-- ============================================================================================================ -->


    <!-- ============================================================================================================ -->

    <section class="gallery-section-01">
        <h1>Photos</h1>

        <div class="gallery-photos">
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g01.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g02.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g03.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g04.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g05.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g06.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g07.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g08.jpg" alt="img">
            </div>
        </div>






           
        <div class="gallery-photos">
           
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g09.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g10.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g11.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g12.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g13.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g14.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g15.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g16.jpg" alt="img">
            </div>
            
        </div>





        <div class="gallery-photos">
            
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g17.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g18.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g19.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g20.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g21.jpg" alt="img">
            </div>
             <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g22.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g23.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g24.jpg" alt="img">
            </div>
        </div>





        <div class="gallery-photos">
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g25.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g26.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g27.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g28.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g29.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g30.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g31.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g32.jpg" alt="img">
            </div>
        </div>






        <div class="gallery-photos">
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g33.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g34.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g35.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g36.jpg" alt="img">
            </div>
             <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g37.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g38.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g39.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g40.jpg" alt="img">
            </div>
        </div>










        <div class="gallery-photos">
           <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g41.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g42.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g43.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g44.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g45.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g46.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g47.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g48.jpg" alt="img">
            </div>
        </div>





        <div class="gallery-photos">
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g49.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g50.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g51.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g52.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g53.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g54.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g55.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g56.jpg" alt="img">
            </div>
        </div>







        <div class="gallery-photos">
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g57.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g58.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g59.jpg" alt="img">
            </div>
            <div class="gallery-photo">
                <img class="gallery-photo-img" src="./Images/Gallery/g60.jpg" alt="img">
            </div>

        </div>




        
    </section>

    <!-- ============================================================================================================ -->

    {{>footer}}
    </div>

    {{>script}}

</body>
</html>