<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1">
    {{>links}}
    <title>AARIZ GARDEN AL FRESH</title>

</head>
<body>

    <div data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">


   
 {{!-- *****************************************************Desktop Navigation Bar******************************************************************* --}}


        <div class="nav-desktop">
            <div class="d-menu">
                <div class="nav-link"><div class="nl-div"><a href="/">Home</a></div></div>
                <div class="nav-link"><div class="nl-div"><a href="/our-facility">Our Facility</a></div></div>
                <div class="nav-link"><div class="nl-div"><a href="/our-fruits">Our Fruits</a></div></div>
                <a class="nl-img" href="/"><img src="./Images/logo.jpg" alt=""></a>
                <div class="nav-link"><div class="nl-div"><a href="/our-network">Our Network</a></div></div>
                <div class="nav-link"><div class="nl-div"><a href="/gallery">Gallary</a></div></div>
                <div class="nav-link"><div class="nl-div"><a href="/who-are-we">Who Are We</a></div></div>
            </div>
        </div>



 {{!-- *****************************************************Mobile Navigation Bar******************************************************************* --}}


    <div class="nav-mobile">
        <div class="logo">
            <img src="./Images/logo.jpg" alt="">
        </div>
        <div class="navbar">
                <ul class="menu display-none ">
                    <li><a href="/">Home</a></li>
                    <li><a href="/our-facility">Our Facility</a></li>
                    <li><a href="/our-fruits">Our Fruits</a></li>
                    <li><a href="/our-network">Our Network</a></li>
                    <li><a href="/who-are-we">Who Are We</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                </ul>
            <div class="mobile-navbar-btn">
                <ion-icon name="reorder-three-outline" class="mobile-navbar-icon m-n-i-open"></ion-icon>
                <ion-icon name="close-outline" class="mobile-navbar-icon m-n-i-close"></ion-icon>
            </div>
        </div>
    </div>

            
        
        


  

        <div class="header-container">
            <div class="head-cont">
                <h1><span>AARIZ GARDEN AL FRESH</span> <br>Dealer of fruits</h1>
                <div class="all-quotes">
                    <div class="quotes">
                        <p>“We deliver fresh quality fruits.”</p>
                    </div>
                </div>
            </div>
        </div>


    

    <!-- ============================================================================================================ -->


    <section class="section-02">
        <h1>We deals with</h1>
        <div class="container-02">
            <div class="container-02-01 container-02-01-01">
                <h3>Custard Apple</h3>
            </div>
            <div class="container-02-01 container-02-01-02">
                <h3>Pomegranate</h3>
            </div>
            <div class="container-02-01 container-02-01-03">
                <h3>Banana</h3>
            </div>
            <div class="container-02-01 container-02-01-04">
                <h3>Mango</h3>
            </div>
            <div class="container-02-01 container-02-01-05">
                <h3>Orange</h3>
            </div>
            <div class="container-02-01 container-02-01-06">
                <h3>Apple</h3>
            </div>
            <div class="container-02-01 container-02-01-07">
                <h3>Sweet Lemon <br> <center>Mosambi</center> </h3>
            </div>
            <div class="container-02-01 container-02-01-08">
                <h3>Grapes</h3>
            </div>
            <div class="container-02-01 container-02-01-09">
                <h3>Watermelon</h3>
            </div>
            <div class="container-02-01 container-02-01-10">
                <h3>Papaya</h3>
            </div>
        </div>
    </section>


    <!-- ============================================================================================================ -->



    <section class="section-03">


        <div data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-anchor-placement="top-bottom">

        <div class="head-03">
            <h1>Connect with <span>US</span></h1>
        </div>
        </div>

        <div class="sub-section-03">
        <div data-aos="fade-right" data-aos-duration="1500">
            <div class="sub-head-03">
            <h1><span>We are for you <br> </span>To provide quality fruits</h1>
            </div>
        </div>

        <div class="hero-03-up-right">
            <img src="./Images/f-img-06.jpg" alt="">
        </div>
        </div>
    </section>


    <!-- ============================================================================================================ -->

    {{>footer}}
    </div>

    {{>script}}

</body>
</html>