<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1 ">
    {{>links}}
    <title>Our Network</title>

</head>
<body>

    {{>nav}}
            <section class="section-02">
            <br>
            <br>
            <br>
        <h1>Our Network Includes</h1>
        <div data-aos="fade-right"
        data-aos-easing="linear"
     data-aos-duration="1500">

        <h1>Countries</h1>

        <div class="container-02">
            <div class="container-02-01 container-02-03-01">
                <h3>Nepal</h3>
            </div>
            <div class="container-02-01 container-02-03-02">
                <h3>Bangladesh</h3>
            </div>
            <div class="container-02-01 container-02-03-03">
                <h3>Dubai</h3>
            </div>
            <div class="container-02-01 container-02-03-04">
                <h3>Qatar</h3>
            </div>
            
        </div>

        <h1>States & Cities</h1>

        <div class="container-02">
            <div class="container-02-01 container-02-02-01">
                <h3>Delhi</h3>
            </div>
            <div class="container-02-01 container-02-02-02">
                <h3>Ernakulam</h3>
            </div>
            <div class="container-02-01 container-02-02-03">
                <h3>Kolkata</h3>
            </div>
            <div class="container-02-01 container-02-02-04">
                <h3>Jaipur</h3>
            </div>
            <div class="container-02-01 container-02-02-05">
                <h3>Banglore</h3>
            </div>
            <div class="container-02-01 container-02-02-06">
                <h3>Chennai</h3>
            </div>
            <div class="container-02-01 container-02-02-07">
                <h3>Lucknow</h3>
            </div>
            <div class="container-02-01 container-02-02-08">
                <h3>Agra</h3>
            </div>
            <div class="container-02-01 container-02-02-09">
                <h3>Mumbai</h3>
            </div>
            <div class="container-02-01 container-02-02-10">
                <h3>Srinagar</h3>
            </div>
            <div class="container-02-01 container-02-02-11">
                <h3>Kashmir</h3>
            </div>
        </div>
        </div>
    </section>


{{>footer}}

{{>script}}

</body>
</html>