<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1 ">
    {{>links}}
    <title>Our Fruits</title>

</head>
<body>

    {{>nav}}
        <section class="section-02">
            <br>
            <br>
            <br>
        <h1>We deals with</h1>
        <div data-aos="fade-right"
        data-aos-easing="linear"
     data-aos-duration="1500">
        <div class="container-02">
            <div class="container-02-01 container-02-01-01">
                <h3>Custard Apple</h3>
            </div>
            <div class="container-02-01 container-02-01-02">
                <h3>Pomegranate</h3>
            </div>
            <div class="container-02-01 container-02-01-03">
                <h3>Banana</h3>
            </div>
            <div class="container-02-01 container-02-01-04">
                <h3>Mango</h3>
            </div>
            <div class="container-02-01 container-02-01-05">
                <h3>Orange</h3>
            </div>
            <div class="container-02-01 container-02-01-06">
                <h3>Apple</h3>
            </div>
            <div class="container-02-01 container-02-01-07">
                <h3>Sweet Lemon <br> <center>Mosambi</center> </h3>
            </div>
            <div class="container-02-01 container-02-01-08">
                <h3>Grapes</h3>
            </div>
            <div class="container-02-01 container-02-01-09">
                <h3>Watermelon</h3>
            </div>
            <div class="container-02-01 container-02-01-10">
                <h3>Papaya</h3>
            </div>
        </div>
        </div>
    </section>


    <section class="of-section-01">

        <div class="of-container-01">
            <div class="of-container-01-left">
                <img src="./Images/f-img-05.jpg" alt="">
            </div>
            <div class="of-container-01-right">
                <h1>Fresh Oranges</h1>
                <h3>Our Fresh Orange brand ‘Aariz Garden Al Fresh’ is well established as the leading orange brand in India for over a decade due to its superior taste and excellent nutritional values.</h3>
                <p>We source our Fresh Oranges from Aariz Garden Al Fresh (Nagpur , Maharashtra), a reliable Indian exporter and wholesale supplier of fruits. It is the #1 Indian exporter and suppliers of a variety of oranges to countries around the globe.</p>
            </div>
        </div>


        <div class="of-container-01">
            <div class="of-container-01-left">
                <img src="./Images/f-img-06.jpg" alt="">
            </div>
            <div class="of-container-01-right">
                <h1>Fresh Apples</h1>
                <h3>Our range of Fresh Apples are cultivated organically using advanced technology and harmless fertilizers and wrapped in well-sealed packaging material so they retain their freshness and taste longer.</h3>
                <p>With our efficient source network, we are able to supply hand-picked garden-fresh apples across Shimla & Kashmir in minimum farm-to-shelf time. This has earned us the reputation of importers of premium Fresh Apples.</p>
            </div>
        </div>
        
        <div class="of-container-01">
            <div class="of-container-01-left">
                <img src="./Images/f-img-03.jpg" alt="">
            </div>
            <div class="of-container-01-right">
                <h1>Fresh Bananas</h1>
                <h3>Our Fresh Bananas are highly acclaimed by our clients for the splendid taste and flavour. In addition, we also offer the best deals at the most genuine rates.</h3>
                <p>We source our prime Fresh Banana from Aariz Garden Al Fresh (Jalgaon, Nanded), a leading Indian exporter and supplier with a global network of clients. Its produce is reputed for its quality and packaging which retains the organic freshness of the bananas from plantation to plate.</p>
            </div>
        </div>
        <div class="of-container-01">
            <div class="of-container-01-left">
                <img src="./Images/f-img-08.jpg" alt="">
            </div>
            <div class="of-container-01-right">
                <h1>Fresh Grapes</h1>
                <h3>Our offerings comprise the most comprehensive range of Fresh Grapes – including black, green and other varieties, at the most reasonable prices.</h3>
                <p>Our offerings comprise the most comprehensive range of Fresh Grapes (Nashik) – including black, green and other varieties, at the most reasonable prices.</p>
            </div>
        </div>
        <div class="of-container-01">
            <div class="of-container-01-left">
                <img src="./Images/f-img-02.jpg" alt="">
            </div>
            <div class="of-container-01-right">
                <h1>Fresh Pomegranates</h1>
                <h3>Our Fresh Pomegranates are certified as per international health assessments and both our red and white varieties of pomegranates well-renowned for their taste and health benefits.</h3>
                <p>Thanks to Aariz Garden Al Fresh (Pune, Maharashtra), a leading Indian supplier and exporter of fresh pomegranates to countries worldwide, we offer the entire range of pomegranates at rates that fit consumers’ budgets.</p>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



{{>footer}}

{{>script}}

</body>
</html>