 <footer class="footer">

        <h1>AARIZGARDENALFRESH</h1>

        <div class="footer-links">
            <ul>
                <li><a class="footer-links" href="/">Home</a></li>
                <li><a class="footer-links" href="/gallery">Gallery</a></li>
                <li><a class="footer-links" href="/who-are-we">About</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <ul>
                <li><a class="footer-links" href="/privacy-policy">Privacy Policy</a></li>
                <li><a class="footer-links" href="/terms-conditions">Terms & Conditions</a></li>
            </ul>
        </div>

        <div class="footer-icons">
            <a href="#" target="_blank"><div class="foot-icon"><ion-icon name="logo-youtube" class="footer-icon"></ion-icon></div></a>
            <a href="#" target="_blank"><div class="foot-icon"><ion-icon name="logo-twitter" class="footer-icon"></ion-icon></div></a>
            <a href="#" target="_blank"><div class="foot-icon"><ion-icon name="logo-instagram" class="footer-icon"></ion-icon></div></a>
            <a href="#" target="_blank"><div class="foot-icon"><ion-icon name="logo-facebook" class="footer-icon"></ion-icon></div></a>
            
            
        </div>

        <p>Copyright &copy 2022 All rights reserved | Made with ♥ by <a href="https://www.linkedin.com/in/kashif-sheikh-b5b46b246/" target="_blank">Kashif Kamil Sheikh</a></p>



    </footer>